<form action="/admin/servicios/crear-servicio">

    <input type="text" id="servicio" name="servicio" placeholder="Nombre del servicio"> 
    <!-- id y name tienen que ser el mismo que la propiedad a la que hace referencia -->

    <textarea name="descripcion" id="descripcion" cols="30" rows="10" placeholder="Descripción del servicio"></textarea>

    <input type="sumbit" value="Añadir servicio">
</form>