@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;1,400&display=swap');
/*TRABAJAR REM EN FUNCIÓN DEL FONT-SIZE DEL NAVEGADOR / GAP CON PX / CORREGIR NAVS*/
:root {
    --darkblue: #0A2463;
    --lightblue: #3E92CC;
    --white: #FFFAFF;
    --black: #1E1B18;
    --red: #D8315B;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    min-height: 100%;
    background-color: var(--white);
}

.grid-container{
    display: grid;
    gap: 0.5rem;
    grid-template:
    "header" 15%
    "nav" 10%
    "main" auto
    "footer" 10%;
    align-items: center;
}

.grid-container > *{
    text-align: center;
}

.header{
    grid-area: header;
    align-self: center;
    background-color: var(--red);
    padding: 3rem;
}

header > *{
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    word-spacing: 1rem;
    color: var(--white)
}

.nav{
    grid-area: nav;
    align-self: center;
}

.grid-container-nav{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.grid-container-nav-otros{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
}

a, a:hover, a:link, a:visited{
    font-size: 0.9rem;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--black);
    margin: 0.5rem;
}

.main{
    grid-area: main;
}

.grid-container-main{
    display: grid;
    grid-template:
    "title" auto
    "text"  auto
    "table" auto /
    80%;
    align-items: center;
    justify-content: center;
}

.title{
    grid-area: title;
    font-size: 1.5rem;
    text-align: center;
    color: var(--black);
    padding: 1.5rem;
}

.text{
    grid-area: text;
    font-size: 1rem;
    text-align: center;
    color: var(--black);
    padding: 0.75rem;
}

.table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 3rem;
}

thead{
    background-color: var(--lightblue);
    border-bottom: 0.2rem solid var(--black);
}

tbody tr:hover{
    background-color: var(--black);
    color: var(--white);
}

th{
    font-size: 1.3rem;
    padding: 0.8rem;
}

td{
    font-size: 1rem;
    padding: 0.6rem;
    border-bottom: 0.1rem solid var(--black);
}

.celda-servicio{
    width: 30%;
}

.grid-container-form{
    display: grid;
    grid-template:
    "servicio" auto
    "descripcion"  auto
    "submit" auto /
    70%;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.servicio{
    grid-area: servicio;
}

.descripcion{
    grid-area: descripcion;
}

.submit{
    grid-area: submit;
}

.footer{
    grid-area: footer;
    align-self: center;
    background-color: var(--red);
    padding: 2.5rem;
}

.grid-container-footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

footer > *{
    font-size: 1.8rem;
    color: var(--white);
}

@media screen and (min-width:768px) {
    .grid-container{
        grid-template:
        "header header" 15%
        "nav nav" 5%
        "main main" auto
        "footer footer" 10%
    }
    .nav{
        align-self: stretch;
    }
}/*768px end*/

@media screen and (min-width:992px) {
    .grid-container{
        grid-template:
        "header header" 15%
        "nav main" 75%
        "footer footer" 10% /
        20% auto;
    }
    .title{
        text-align: start;
    }
    .text{
        text-align: justify;
    }
    .grid-container-nav{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: start;
        gap: 2rem;
    }
    .grid-container-nav-otros{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: start;
        gap: 2rem;
    }
    .nav{
        justify-self: center;
    }
}/*992px end*/

/* @media screen and (min-width:1200px){

}1200px end */