        <footer class="footer">
            <div class="grid-container-footer">
                <i class="fa-sharp fa-solid fa-phone"></i>
                <i class="fa-sharp fa-solid fa-envelope"></i>
                <i class="fa-sharp fa-solid fa-paper-plane"></i>
            </div>
        </footer>
    </body>
</html>