<nav class="nav">
    <div class="grid-container-nav-admin">
        <a href="/admin" class="nav-home"><i class="fa-sharp fa-solid fa-house"></i></a>
        <a href="/servicios" class="nav-servicios">Servicios</a>
        <a href="/productos" class="nav-productos">Productos</a>
        <a href="/locations" class="nav-locations">Sucursales</a>
        <a href="/quienessomos" class="nav-quienessomos">Quiénes Somos</a>
        <a href="/contacto" class="nav-contacto">Contacto</a>
    </div>
</nav>