        <nav class="nav">
            <div class="grid-container-nav">
                <a href="/servicios">Servicios</a>
                <a href="/productos">Productos</a>
                <a href="/instalaciones">Instalaciones</a>
                <a href="/quienessomos">Quiénes Somos</a>
                <a href="/contacto">Contacto</a>
            </div>
        </nav>