<nav>

    <ul>

        <a href="/servicios"><li>Servicios</li></a>
        <a href="/productos"><li>Productos</li></a>
        <a href="/quienessomos"><li>Quiénes Somos</li></a>
        <a href="/contacto"><li>Contacto</li></a>
        
    </ul>

</nav>